Source: salt-formula-freeipa
Maintainer: Filip Pytloun <filip.pytloun@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9), salt-master, python, python-yaml,
 salt-formula-openssh
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-freeipa
Vcs-Git: https://github.com/tcpcloud/salt-formula-freeipa.git

Package: salt-formula-freeipa
Architecture: all
Depends: ${misc:Depends}, salt-formula-openssh
Description: freeipa salt formula
 Install and configure freeipa system.
